$white: #FFFFFF; // rbg(255, 255, 255)
$off-white: #f7f7f7; // rbg(247, 247, 247)
$lightest-gray: #eeeeee; // rgb(238, 238, 238)
$lighter-gray: #cccccc; // rgb(204, 204, 204)
$lightish-gray: #b8b8b8; // rgb(184, 184, 184)
$light-gray: #888888; // rgb(136, 136, 136)
$gray: #676767; // rgb(102, 102, 102)
$dark-gray: #333333; // rgb(51, 51, 51)
$darker-gray: #222222; // rgb(34, 34, 34)
$darkest-gray: #121212; // rgb(18, 18, 18)
$black: #000000; // rgb(0, 0, 0)

$btn-red: #e33d26; // rgb(227, 61, 38)
$darker-red: #cf2d1e; // rgb(207, 46, 30)

$border-blue: #1616cf; // rgb(22, 22, 207)

$photo-background: #e6e6e6; //rgb(230, 230, 230)
$main-light-gray: #f2f3ef; // rgb(242, 243, 239)
$main-dark-gray: #e6e7e3; // rgb(230, 231, 227)