@font-face {
  font-family: "karnak";
  src: font-url('karnak-normal-400.ttf') format("truetype");
}

@font-face {
  font-family: "cheltenham";
  src: font-url('cheltenham-normal-200') format("truetype");
}

@font-face {
  font-family: "franklin";
  src: font-url('franklin-normal-500') format("truetype");
}

@font-face {
  font-family: "franklin-bold";
  src: font-url('franklin-normal-700') format("truetype");
}

@font-face {
  font-family: "franklin-italic";
  src: font-url('franklin-italic-300') format("truetype");
}

@font-face {
  font-family: "franklin-thin";
  src: font-url('franklin-normal-300') format("truetype");
}

$serif: "cheltenham", times, georgia, serif;
$sans-serif: "franklin", "Libre Franklin", arial, helvetica, sans-serif;
$sans-serif-thin: "franklin-thin", "Libre Franklin", arial, helvetica, sans-serif;
$sans-serif-bold: "franklin-bold", "Libre Franklin", arial, helvetica, sans-serif;
$sans-serif-italic: "franklin-italic", "Libre Franklin", arial, helvetica, sans-serif;
$karnak: "karnak", times, georgia, serif;