@import "../base/colors.scss";
@import "../base/fonts.scss";

@keyframes fade-in {
  0% {height: 0;}
  100% {height: 100%;}
}

.comments-container {
    border-top: 1px solid $lighter-gray;
    padding-top: 30px;
}

.comments-header {
    font-family: $karnak;
    color: $darker-gray;
    font-size: 13px;
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.comments-form {
    font-family: $sans-serif-thin;
    color: $lightish-gray;
    width: 100%;
    height: 45px;
    border: 1px solid $lighter-gray;
    transition: all .5s ease-in-out;
    padding: 0;
    
        .comments-input {
            display: flex;
            align-items: center;
            width: 600px;
            height: 18px;
            padding: 10px 10px 15px 15px;
            resize: none;
            border: none;
            box-shadow: inset 0 1px 6px $main-light-gray;
            background-color: $white;
            border-radius: none;
            font-family: $sans-serif;
            color: $black;
            font-size: 16px;
        }

        .comments-input:focus {
            outline: none;
        }
}

.comments-form-open {
    border: 1px solid #dddddd;
    width: 100%;
    height: 334px;
    transition: all .5s ease-in-out;
    
    .comments-form-inner-container {
        background-color: $main-light-gray;
        padding: 10px;
        transition: all .5s ease-in-out;

        .comments-open-input {
            width: 538px;
            height: 200px;
            padding: 13px 50px 15px 15px;
            border: 1px solid #dddddd;
            background-color: $white;
            resize: none;
            box-shadow: inset 0 1px 6px $main-light-gray;
            border-radius: none;
            font-family: $sans-serif;
            color: $black;
            font-size: 16px;
            transition: all .5s ease-in-out;
        }

        .comments-open-input:focus {
            outline: none;
        }
        
        .comments-form-btns {
            display: flex;
            justify-content: flex-end;
            padding: 30px 10px;

            .comments-form-note,
            .comments-form-note-no,
            .comments-form-cancel {
                font-family: $sans-serif;
                font-size: 16px;
                padding-left: 10px;
            }

            .comments-form-cancel {
                color: #767676;
                border-right: 1px solid $lighter-gray;
                padding-right: 10px;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }

            .comments-form-note-no {
                color: $lighter-gray;
                cursor: not-allowed;
            }

            .comments-form-note {
                color: $btn-red;
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.comments-section-heading-container {
    padding-top: 80px;
    width: 100%;
    border-bottom: 1px solid #dddddd;
    position: relative;

    .comments-section-heading {
        width: 50px;

        .comments-section-heading-title {
            position: absolute;
            bottom: -1px;
            width: 50px;
            border-bottom: 3px solid $black;
            padding: 40px 0px 10px 15px;
            font-family: $sans-serif-bold;
            font-size: 16px;

            .comments-section-heading-number {
                font-family: $sans-serif;
                color: #999999;
            }
        }
    }
}
        
.comments-section-no-comments {
    font-family: $sans-serif;
    font-size: 16px;
    color: $darker-gray;
    padding: 20px;
}

.comments-section-comments {

    .comments-section-comment-outer-container {
        display: flex;
        padding: 40px 20px 30px;
        border-bottom: 1px solid #f4f4f4;
        position: relative;

        .delete-comment-btn,
        .update-comment-btn {
            position: absolute;
            cursor: pointer;
            color: $gray
        }
        
        .delete-comment-btn {
            top: 20px;
            right: 20px;
        }

        .update-comment-btn {
            top: 20px;
            right: 40px;
        }

        .comments-section-image-container {
            height: 100%;
            padding-right: 15px;
            
            .comments-section-image {
                height: 40px;
                width: 40px;
            }
        }

        .modal-save-background {

            .modal-save-child {
                width: 440px;

                .modal-save-body {

                    .modal-image-text {
                        padding-top: 10px;
                    }
                }
            }
        }

        .comments-section-comment-container {
            
            .comments-section-comment-info {
                display: flex;
                padding-bottom: 5px;

                .comments-section-comment-name {
                    color: $darker-gray;
                    font-size: 14px;
                    font-family: $sans-serif-bold;
                    padding-right: 7px;
                    border-right: 1px solid $lighter-gray;
                }

                .comments-section-comment-time {
                    color: $gray;
                    font-size: 14px;
                    font-family: $sans-serif;
                    padding-left: 10px;
                }
            }

            .edit-comment-form {
                
                .comments-form-btns {
                    display: flex;
                    justify-content: flex-end;
                    
                    .comments-form-note,
                    .comments-form-note-no,
                    .comments-form-cancel {
                        font-family: $sans-serif;
                        font-size: 16px;
                        padding-left: 10px;
                    }

                    .comments-form-cancel {
                        color: #767676;
                        border-right: 1px solid $lighter-gray;
                        cursor: pointer;
                        padding-right: 10px;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .comments-form-note-no {
                        color: $lighter-gray;
                        cursor: not-allowed;
                    }

                    .comments-form-note {
                        color: $btn-red;
                        cursor: pointer;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .edit-comment-input {
                    color: $darker-gray;
                    font-family: $sans-serif;
                    font-size: 16px;
                    width: 500px;
                    padding: 13px 15px 15px 15px;
                    border: 1px solid #dddddd;
                    background-color: $white;
                    resize: none;
                    box-shadow: inset 0 1px 6px $main-light-gray;
                    border-radius: 0px;
                    transition: all .5s ease-in-out;
                }
            }

            .comments-section-comment-text {
                color: $darker-gray;
                font-family: $sans-serif;
                font-size: 16px;
                width: 530px;
            }
        }
    }
}

@media (max-width: 870px) {
    .comments-container {
        width: 100%;
    }

    .comments-form {
        
            .comments-input {
                width: calc(100% - 25px);
                height: 20px;
            }
    }

    .comments-form-open {
        
        .comments-form-inner-container {

            .comments-open-input {
                width: calc(100% - 68px);
            }
        }
    }

    .comments-section-heading-container {
        padding-top: 60px;
    }

    .comments-section-comments {

        .comments-section-comment-outer-container {
            padding: 30px 0px 30px 15px;

            .modal-save-background {

                .modal-save-child {
                    width: calc(100vw - 6px);
                }
            }

            .comments-section-comment-container {
                width: 100%;

                .edit-comment-form {
                    
                    .comments-form-btns {
                        padding-right: 20px;
                    }

                    .edit-comment-input {
                        width: 85%;
                        border-radius: 0px;
                    }
                }

                .comments-section-comment-text {
                    width: 100%;
                }
            }
        }
    }
}