@import "../base/colors.scss";
@import "../base/fonts.scss";

.home-page-main-body {
    width: 1000px;
}

.home-page-header {
    padding: 40px;

    .home-page-title {
        font-size: 31px;
        font-weight: 700;
        padding: 8px;
        font-family: $karnak;
        text-align: center;
    }

    .home-page-subtitle {
        text-transform: uppercase;
        font-family: $sans-serif;
        font-size: 12px;
        text-align: center;
        letter-spacing: 1px;
    }
}

.recipe-card-header {
    text-align: left;

    .recipe-card-header-title {
        font-family: $serif;
        font-size: 28px;
        color: $black;
        padding-top: 10px;
        border-top: 7px solid $black;
    }

    .recipe-card-header-subtitle {
        font-family: $serif;
        font-size: 28px;
        color: #999999;
        padding-bottom: 25px;
    }
}

