@import "../base/colors.scss";
@import "../base/fonts.scss";

.main-app {
    background-color: $main-light-gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.spacer {
    padding-top: 65px;
}

@media (max-width: 870px) {
    .main-app {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 670px) {
    .spacer {
        padding-top: 44px;
    }
}