@import "../base/colors.scss";
@import "../base/fonts.scss";

@keyframes fade-in {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.modal-background-closed {
  display: none;
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 101;
  animation: fade-in .5s ease-in-out;
}

.modal-child {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 900px;
  height: 625px;
  background-color: $white;
}

.modal-image-tag {

  .modal-image {
    position: relative;
    width: 550px;
    height: 625px;
  }

  .modal-image-text {
    position: absolute;
    top: 0px;
    left: 20px;
    padding: 35px 40px;
    color: $white;
    font-family: $serif;
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    letter-spacing: .5px;
  }
}

.modal-form {
  padding: 28px 34px 0 34px;
  width: 282px;
}

.btn {
  width: 282px;
  text-align: center;
  font-family: $sans-serif-bold;
  font-weight: 500;
  font-size: 16px;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  line-height: 1.5;
}

.modal-btn {
  background-color: $btn-red;
  color: $white;
  padding-bottom: 2px;
  border: 1px solid $btn-red;
}

.demo-btn {
  background-color: $white;
  color: $darkest-gray;
  border: 1px solid $light-gray;
  cursor: pointer;
  padding-bottom: 2px;
}

.modal-submit-btn {
  padding-top: 10px;
}

.modal-btn:hover {
  background-color: $darker-red;
  transition: all .15s ease-in 0s;
}

.demo-btn:hover {
  background-color: $off-white;
  transition: all .15s ease-in 0s;
}

.modal-line-break {
  display: flex;
  justify-content: space-between;
  width: 282px;
  align-items: center;
  color: $gray;
  font-family: $sans-serif;
  font-size: 14px;
  padding-top: 10px;
}
  
.modal-line-break::before, .modal-line-break::after {
  display: inline-block;
  color: $gray;
  content: "";
  height: 0;
  border-bottom: 1px solid $lighter-gray;
  width: calc(50% - 4.4em);
  padding-top: 3px;
}
      
.modal-footer {
  display: flex;
  padding-top: 15px;
  justify-content: center;
  
  .modal-switch-page {
    font-family: $sans-serif;
    font-size: 16px;
    margin-right: 5px;
    line-height: 1.5;
  }

  .modal-link {
    text-decoration: underline;
    font-family: $sans-serif-bold;
    color: $dark-gray;
    font-weight: 600;
    font-size: 16px;
  }
}

.close-modal-btn {
  position: absolute;
  right: 6px;
  top: 6px;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  color: $lightish-gray;
  cursor: pointer;
}

.modal-title {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.5;
  padding-bottom: 12px;
  text-align: center;
  color: $darker-gray;
}

.modal-input-field {
  position: relative;

  .modal-input-text {
    font-family: $sans-serif-bold;
    font-size: 12px;
    font-weight: 700;
    color: $black;
    padding-top: 19px;
    padding-bottom: 3px;
  }
  
  .modal-input,
  .modal-input-red {
    width: 282px;
    font-family: $sans-serif;
    font-weight: 400;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: $white;
    padding: 4px 10px 4px;
  }

  .modal-input {
    border: 1px solid $lighter-gray;
  }

  .modal-input-red {
    border: 1px solid $btn-red;
  }

}

.modal-password-field {
  display: block;
  position: relative;
  padding-bottom: 10px;

  .modal-show-btn {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 2px;
    right: 2px;
    width: 52px;
    font-family: $sans-serif-bold;
    height: 36px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
    cursor: pointer;
    background-color: $white;
    font-size: 12px;
    font-weight: 700;
    color: $black;
    padding-bottom: 4px;
  }

  .modal-show-blue {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid $border-blue;
    top: 0px;
    right: 0px;
    width: 56px;
    height: 40px;
  }

  .modal-show-btn:hover {
    background-color: $off-white;
    transition: all .15s ease-in 0s;
  }
}

.modal-errors {
  position: absolute;
  bottom: -28px;
}

.modal-password-errors,
.modal-errors {
  font-size: 12px;
  font-weight: 300;
  color: $btn-red;
  font-family: $sans-serif;
}

@media (max-width: 770px) {
  .modal-child {
    width: 100vw;
    height: 100%;
    justify-content: center;
    top: 0;
    left: 0;
    transform: none;
  }

  .modal-image-tag {
    display: none;
  }
}