@import "../base/colors.scss";
@import "../base/fonts.scss";

.nav-bar-container {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid $lighter-gray;
    display: flex;
    top: 0;
    background-color: $white;
    z-index: 100;
    height: 64px;
}

.main-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 11px 40px 15px 18px;
    border-right: 1px solid $lighter-gray;

    .logo-left {
        border-right: 0.5px solid $btn-red;
        padding-right: 5px;
        height: 26px;
        width: auto;
    }
    
    .logo-right {
        padding-left: 3px;
        font-family: $karnak;
        color: $btn-red;
        font-size: 32px;
    }
}

.nav-bar-search {
    display: flex;
    align-items: center;
    width: calc(100% - 400px);
    position: relative;

    .fa-search {
        color: #9b9b9b;
        font-size: 18px;
        padding-left: 20px;
        padding-right: 5px;
    }
    
    .search-form {
        width: 100%;
        
        .search-input {
            font-family: $sans-serif-thin;
            width: 260px;
            font-size: 20px;
            font-weight: 300;
            padding-bottom: 2px;
        }
    }

    .search-results {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        left: -1px;
        top: 64px;
        z-index: 100;
        background-color: $main-light-gray;
        width: 100%;
        border-bottom: 1px solid $lighter-gray;
        border-right: 1px solid $lighter-gray;
        border-left: 1px solid $lighter-gray;
        font-family: $sans-serif;

        .search-results-wrapper {
            padding: 5px 15px;

            .search-results-child {
                display: flex;
                align-items: center;
                font-size: 22px;
                font-weight: 300;
                color: $black;
                width: 100%;
                height: 40px;
                padding-bottom: 4px;
            }
        }
        
        .search-results-wrapper:hover {
            background-color: #555555;

            .search-results-child {
                color: $white;
            }
        }
    }
    
    .fa-times-circle {
        position: absolute;
        right: 20px;
        color: $lightish-gray;
        font-size: 20px;
        padding-top: 3px;
    }
}

.nav-bar-end {
    position: relative;
    display: flex;
    justify-content: flex-end;

    .recipe-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 65px;
        width: 146px;

        .recipe-spacer {
            height: 12px;
        }

        .recipe-box-text,
        .recipe-box-show {
            border-right: 1px solid $lighter-gray;
            border-top: 1px solid $lighter-gray;
            border-left: 1px solid $lighter-gray;
            padding: 15px 18px 0px 17px;
            text-transform: uppercase;
            font-family: $sans-serif-bold;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: .5px;
            color: $btn-red;
            height: 39px;
            cursor: pointer;
            
            &::after {
                content: "Your Recipe Box";
            }
        }

        .recipe-box-text {
            border-bottom: 1px solid transparent;

            &:hover {
                background-color: $main-light-gray;
                border-bottom: 1px solid $lighter-gray;
            }
        }
        
        .recipe-box-show {
            background-color: $main-light-gray;
            border-bottom: 1px solid $main-light-gray;            
        }
        
        .recipe-box-login-container:hover {
            background-color: $main-light-gray;
            border-bottom: none;
        }

        .recipe-box-login {
            position: absolute;
            bottom: 8px;
            left: 58px;
            color: $dark-gray;
            text-align: center;
            font-family: $sans-serif;
            font-size: 12px;
            cursor: pointer;
        }
    }

    .nav-bar-dropdown {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 17px 17px 15px 16px;
        cursor: pointer;
        
        .fa-cog {
            color: $light-gray;
            font-size: 16px;
        }

        .nav-bar-dropdown-show {
            display: none;
        }
    }

    .nav-bar-dropdown:hover{
        position: relative;
         
        .fa-cog{
            color: $btn-red;
        }

        .nav-bar-dropdown-spacer {
            position: absolute;
            width: 200px;
            background-color: transparent;
            height: 20px;
            top: 55px;
        }

        .nav-bar-dropdown-show {
            display: block;
            position: absolute;
            bottom: -49px;
            right: -1px;
            width: 200px;
            background-color: $white;
            border: 1px solid $lighter-gray;
            font-family: $sans-serif;
            font-size: 14px;
            color: $btn-red;
            padding: 10px;
            box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
            z-index: 100;

            &:hover {
                background-color: $main-light-gray;
            }
        }

        .nav-bar-dropdown-show:before,
        .nav-bar-dropdown-show:after {
            content: '';
            position: absolute;
            right: 5px;
            top: -10px;
            border-bottom: 10px solid $light-gray;
            border-right: 10px solid transparent;
            border-left: 10px solid transparent;
            width: 0;
            height: 0;
        }

        .nav-bar-dropdown-show:after {
            border-bottom: 10px solid $white;
        }
    }
}

@media (max-width: 670px) {
    .nav-bar-container {
        height: 44px;
        width: 100vw;
        position: fixed;
    }

    .main-logo {
        display: none;
        padding: 13px 5px;

        .logo-left {
            height: 13px;
        }
        
        .logo-right {
            font-size: 15px;
        }
    }

    .nav-bar-search {
        display: none;
        width: calc(100% - 161px);

        .fa-search {
            padding-left: 5px;
            padding-right: 3px;
            padding-top: 3px;
            font-size: 10px;
        }
        
        .search-form {
            
            .search-input {
                font-size: 11px;
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .search-results {
            top: 44px;

            .search-results-wrapper {

                .search-results-child {
                    font-size: 15px;
                }
            }
        }
        

        .fa-times-circle {
            font-size: 13px;
            right: 7px;
        }
    }

    .nav-bar-end {
        display: none;
        
        .recipe-box {
            height: 45px;
            width: 73px;

            .recipe-box-text,
            .recipe-box-show {
                padding: 10px 8px 0px 7px;
                font-size: 7px;
                height: 26px;
                
                &::after {
                    content: "Recipe Box";
                }
            }
            
            .recipe-box-show {
                height: 27px;
            }

            .recipe-box-login {
                font-size: 9px;
                left: 23px;
                bottom: 5px;
            }
        }

        .nav-bar-dropdown {
            padding: 17px 8px 15px 7px;
            
            .fa-cog {
                font-size: 12px;
            }
        }
    }
}