@import "../base/colors.scss";
@import "../base/fonts.scss";

.main-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // width: 235px;
    padding: 18px 20px 20px 21px;

    .logo-left {
        border-right: 0.5px solid $btn-red;
        padding-right: 5px;
        height: 26px;
        width: auto;
    }
    
    .logo-right {
        height: 33px;
        width: auto;
        padding-left: 3px;
    }
}