@import "../base/colors.scss";
@import "../base/fonts.scss";

.home-page-recipe-card-container {
    position: relative;
    width: 1000px;
    height: 450px;
    overflow: visible;
}

.recipe-card-overflow,
.recipe-card-extra-overflow,
.recipe-card-overflow-left,
.recipe-card-extra-overflow-left {
    height: 280px;
    z-index: 10;
    position: absolute;
}

.recipe-card-overflow {
    background-image: linear-gradient(to right, rgba(242, 243, 239, 0.7), rgba(242, 243, 239, 1));
    width: 50px;
    left: 1015px;
}

.recipe-card-overflow-left {
    background-image: linear-gradient(to left, rgba(242, 243, 239, 0.7), rgba(242, 243, 239, 1));
    width: 50px;
    right: 1015px;
}

.recipe-card-extra-overflow {
    background-color: $main-light-gray;
    width: 100%;
    left: 1065px;
}

.recipe-card-extra-overflow-left {
    background-color: $main-light-gray;
    width: 100%;
    right: 1065px;
}

.recipe-card-container {
    display: flex;
    justify-content: center;
    // width: 1vh;
    // width: 100%;
}

.recipe-card {
    display: flex;
    position: absolute;
    left: -1017px;
    // left: 0px;
    box-sizing: border-box;
    justify-content: center;
    // width: 1168px;
    padding-bottom: 40px;
}

.recipe-card-wrapper {
    height: 278px;
    width: 235.5px;
    position: relative;
    background-color: $white;
    margin-right: 17px;
    border: 1px solid $photo-background;
}

.recipe-card-wrapper:hover {
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
    transition: all .2s ease-in 0s;
}

.recipe-card-photo {
    width: 235.5px;
    height: 157px;
}


.recipe-card-text {
    padding: 12px 14px 6px 14px;
    height: 106px;
    
    .recipe-card-title {
        font-size: 17px;
        font-family: $sans-serif-bold;
        font-weight: 700;
        color: $darker-gray;
        text-decoration: none;
    }
    
    .recipe-card-name {
        font-size: 13px;
        padding-top: 3px;
        font-family: $sans-serif;
        color: $darker-gray;
        text-decoration: none;
    }
}

.recipe-card-footer {
    position: absolute;
    display: flex;
    // width: 100%;
    justify-content: space-between;
    align-items: center;
    bottom: 12px;
    // padding: 15px 15px 0 15px;
    width: 235.5px;
    
    .recipe-card-time {
        font-size: 12px;
        font-family: $sans-serif-thin;
        color: #999999;
        padding-left: 14px;
    }
    
}

.recipe-card-bookmark-container {
    position: relative;
    padding-right: 15px;
    // padding-bottom: 5px;
}

.recipe-card-bookmark:before,
.recipe-card-bookmark:after {
    content: '';
    position: absolute;
    right: 15px;
    bottom: 1px;
    border-bottom: 7.5px solid #b3b3b3;
    border-right: 7.5px solid transparent;
    border-left: 7.5px solid transparent;
    width: 0;
    height: 0;
}

.recipe-card-bookmark:before {
    bottom: -1.5px;
    // left: 1px;
    border-bottom: 7.5px solid $white;
    z-index: 1;
}

.recipe-card-bookmark {
    // color: #b3b3b3;
    width: 15px;
    height: 20px;
    border: 2px solid #b3b3b3;
    // padding-bottom: 3px;
    background-color: $white;
    box-sizing: border-box;
}

.recipe-card-bookmark:hover {
    background-color: #b3b3b3;
}

// .recipe-card-bookmark-dark {
//     display: none;
// }

// .recipe-card-bookmark:hover {
//     display: none;

// }

// .recipe-card-bookmark:hover .recipe-card-bookmark-dark {
//     display: block;
// }