@import "../base/colors.scss";
@import "../base/fonts.scss";


.splash-container {
    position: relative;
    cursor: pointer;

    .splash-image {
        max-height: 840px;
    }

    .recipe-otd {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 40px;
        bottom: 341px;
        height: 108px;
        width: 108px;
        border-radius: 50%;
        background-color: $btn-red;
        color: $white;
        font-family: $karnak;
        font-size: 11px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-weight: 400;
        z-index: 1;
    }

    .splash-recipe {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        left: 90px;
        bottom: 90px;
        height: 311px;
        width: 320px;
        background-color: $white;

        .splash-title,
        .splash-description,
        .splash-author {
            width: 220px;
            color: $darker-gray;
        }

        .splash-title {
            padding-top: 55px;
            font-size: 30px;
            font-family: $serif;
            letter-spacing: 1px;
        }

        .splash-description {
            padding-top: 10px;
            font-size: 18px;
            font-family: $serif;
            letter-spacing: 1px;
        }

        .splash-author {
            padding-top: 15px;
            font-size: 14px;
            font-family: $sans-serif-bold;
            font-weight: 700;
        }
    }

}

.splash-outer-container {
    position: relative;
}

.save-recipe-btn {
    position: absolute;
    display: flex;
    right: 15px;
    bottom: 15px;
    background-color: $black;
    color: $white;
    opacity: 0.8;
    font-family: $sans-serif;
    font-size: 14px;
    letter-spacing: .5px;
    padding: 10px 15px;
    border-radius: 5px;

    
    .splash-outer-bookmark {
        // padding-left: 7px;
        position: relative;
        display: flex;
        justify-content: space-between;

        .splash-bookmark-text {
           padding-left: 7px; 
        }
        
        .splash-bookmark {
            // color: #b3b3b3;
            width: 9px;
            height: 14px;
            border: 2px solid $white;
            background-color: transparent;
        }
        
        .splash-bookmark-saved {
            background-color: $white;
        }

        .splash-bookmark:before,
        .splash-bookmark:after {
            content: '';
            position: absolute;
            bottom: 2px;
            border-bottom: 4.5px solid $white;
            border-right: 4.5px solid transparent;
            border-left: 4.5px solid transparent;
            width: 0;
            height: 0;
        }
        
        .splash-bookmark:before {
            bottom: -.2px;
            border-bottom: 4.5px solid $black;
            z-index: 10;
        }
    }
}

.save-recipe-btn:hover {
    background-color: $btn-red;
    opacity: 1;
    
    .splash-bookmark:before {
        border-bottom: 4px solid $btn-red;
    }
}
