@import "../base/colors.scss";
@import "../base/fonts.scss";


.splash-container {
    position: relative;
    cursor: pointer;

    .splash-image {
        max-height: 840px;
    }

    .recipe-otd {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        left: 40px;
        bottom: 341px;
        height: 108px;
        width: 108px;
        border-radius: 50%;
        background-color: $btn-red;
        color: $white;
        font-family: $karnak;
        font-size: 11px;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-weight: 400;
        z-index: 1;
    }

    .recipe-otd-resized {
        display: none;
    }

    .splash-recipe {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        left: 90px;
        bottom: 90px;
        height: 311px;
        width: 320px;
        background-color: $white;

        .splash-title,
        .splash-description,
        .splash-author {
            width: 220px;
            color: $darker-gray;
        }

        .splash-title {
            padding-top: 55px;
            font-size: 30px;
            font-family: $serif;
            letter-spacing: 1px;
        }

        .splash-description {
            padding-top: 10px;
            font-size: 18px;
            font-family: $serif;
            letter-spacing: 1px;
        }

        .splash-author {
            padding-top: 15px;
            font-size: 14px;
            font-family: $sans-serif-bold;
            font-weight: 700;
        }
    }

}

.splash-outer-container {
    position: relative;
}

.save-recipe-btn {
    position: absolute;
    display: flex;
    right: 15px;
    bottom: 15px;
    background-color: $black;
    color: $white;
    opacity: 0.8;
    font-family: $sans-serif;
    font-size: 14px;
    letter-spacing: .5px;
    padding: 10px 15px;
    border-radius: 5px;

    
    .splash-outer-bookmark {
        position: relative;
        display: flex;
        justify-content: space-between;

        .splash-bookmark-text {
           padding-left: 7px; 
        }
        
        .splash-bookmark {
            width: 9px;
            height: 14px;
            border: 2px solid $white;
            background-color: transparent;
        }
        
        .splash-bookmark-saved {
            background-color: $white;
        }

        .splash-bookmark:before,
        .splash-bookmark:after {
            content: '';
            position: absolute;
            bottom: 2px;
            border-bottom: 4.5px solid $white;
            border-right: 4.5px solid transparent;
            border-left: 4.5px solid transparent;
            width: 0;
            height: 0;
        }
        
        .splash-bookmark:before {
            bottom: -.2px;
            border-bottom: 4.5px solid $black;
            z-index: 10;
        }
    }
}

.save-recipe-btn:hover {
    background-color: $btn-red;
    opacity: 1;
    
    .splash-bookmark:before {
        border-bottom: 4px solid $btn-red;
    }
}

.save-recipe-btn .logged-in-pop-up {
    position: absolute;
    display: none;
    align-items: center;
    width: 200px;
    height: 170px;
    background-color: $white;
    opacity: 1;
    bottom: 47px;
    right: -1px;
    border: 1px solid $lighter-gray;
    cursor: pointer;
    opacity: 1;
    z-index: 1;
}

.logged-in-pop-up:before,
.logged-in-pop-up:after {
    content: '';
    position: absolute;
    right: 20px;
    bottom: -10px;
    border-top: 10px solid $lighter-gray;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    width: 0;
    height: 0;
}

.logged-in-pop-up:after {
    border-top: 10px solid $white;
    bottom: -8px
}

.logged-in-pop-up-spacer {
    position: absolute;
    width: 200px;
    height: 170px;
    background-color: transparent;
    opacity: 1;
    bottom: -20px;
    z-index: -1;
}

.logged-in-pop-up-title {
    font-family: $sans-serif-bold;
    color: $black;
    padding-top: 20px;
    text-align: center;
}

.logged-in-pop-up-body {
    text-align: center;
    color: #666666;
    font-family: $sans-serif;
    font-size: 15px;
    padding: 10px;
}

.logged-in-pop-up-text {
    text-align: center;
    color: $black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: $sans-serif-bold;
    font-size: 15px;
}

.logged-in-pop-up-link {
    color: $btn-red;
    cursor: pointer;
    padding-right: 4px;
    padding-left: 4px;
}

.logged-in-pop-up-link:hover {
    text-decoration: underline;
}

.save-recipe-btn:hover .logged-in-pop-up {
    display: block;
}

@media (max-width: 670px) {
    .splash-container {

        .splash-image {
            margin-top: 20px;
        }

        .recipe-otd {
            display: none;
        }
        
        .recipe-otd-resized {
            font-size: 10px;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            background-color: $btn-red;
            color: $white;
            font-family: $karnak;
            letter-spacing: 1.5px;
            text-transform: uppercase;
            font-weight: 400;
            z-index: 1;
            bottom: 280px;
            left: calc(50% - 71px);
            padding: 0 7px;
            height: 22px;
            border-radius: 11px;
        }

        .splash-recipe {
            position: relative;
            left: 0;
            width: 100%;
            height: auto;
            max-height: 202px;
            margin-top: 90px;
            padding: 30px 10px;
            box-sizing: border-box;

            .splash-title,
            .splash-description,
            .splash-author {
                width: calc(100% - 30px);
            }

            .splash-title {
                padding-top: 0px;
            }
            
            .splash-description {

            }

            .splash-author {

            }
        }

    }

    .splash-outer-container {
    }

    .save-recipe-btn {
        display: none;

        
        .splash-outer-bookmark {


            .splash-bookmark-text {
            }
            
            .splash-bookmark {
                
            }
            
            .splash-bookmark-saved {
            }

            .splash-bookmark:before,
            .splash-bookmark:after {
                
            }
            
            .splash-bookmark:before {
            }
        }
    }

    .save-recipe-btn:hover {
        
        .splash-bookmark:before {
        }
    }

    .save-recipe-btn .logged-in-pop-up {
        
    }

    .logged-in-pop-up:before,
    .logged-in-pop-up:after {
    }

    .logged-in-pop-up:after {
    }

    .logged-in-pop-up-spacer {

    }

    .logged-in-pop-up-title {

    }

    .logged-in-pop-up-body {
        
    }

    .logged-in-pop-up-text {

    }

    .logged-in-pop-up-link {

    }

    .logged-in-pop-up-link:hover {
    }

    .save-recipe-btn:hover .logged-in-pop-up {
    }   
}